################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/AirbnbGUI/.vs/AirbnbGUI/v17/Preview
/AirbnbGUI/.vs/
/AirbnbGUI/.vs/FileContentIndex/

/AirbnbGUI/AirbnbGUI/x64/
/AirbnbGUI/x64/
AirbnbGUI/.vs/AirbnbGUI/v17/.suo
