################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimplifiedAirBnb/.vs/SimplifiedAirBnb/v17/Preview
