################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/SimplifiedAirBnb/.vs/SimplifiedAirBnb/v17/Preview
/SimplifiedAirBnb/.vs/
/SimplifiedAirBnb/SimplifiedAirBnb/x64/
/SimplifiedAirBnb/x64/
SimplifiedAirBnb/.vs/SimplifiedAirBnb/v17/.suo
